@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --foreground: #222831;

  --primary: #00ADB5;
  --primary-dark: #008C93;

  --accent: #393E46;
  --accent-dark: #222831;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}